:root {
    --black:#1C1B1B;
    --gray:#F6F6F6;
    --peach:#FFEADD;
    --lightPink:#FCAEAE;
    --pink:#FF8989;
    --red:#FF6666;
}

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    font-size: 24px;
}

body {
    margin: 0px;
    background-color: var(--peach);
}

h1 {
    color: var(--red);
    font-size: 48px;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(black);
    text-align: center;
    margin: 20px 40px;
}

#buttonStartQuiz {
    margin-top: 60px;
}
.button, .answers {
    background-color: var(--red);
    color: white;
    border: var(--red) solid 2px;
    padding: 16px 28px;
    text-align: center;
}

.button:hover {
    background-color: var(--black);
    color: white;
    border: var(--black) solid 2px;
    padding: 16px 28px;
}

.buttonP {
    margin-top: 20px;
    padding: 16px 28px;
}



header {
    display: flex;
    justify-content: space-between;
}

#viewHighScore p>a, #TimerText p {
    color: var(--red);
    font-size: 18px;
}

#viewHighScore p:hover {
    color:var(--pink);
}