:root {
    --black:#1C1B1B;
    --gray:#F6F6F6;
    --peach:#FFEADD;
    --lightPink:#FCAEAE;
    --pink:#FF8989;
    --red:#FF6666;
}

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    font-size: 24px;
}

body {
    margin: 0px;
    background-color: var(--gray);
}

h1 {
    color: var(--red);
    font-size: 48px;
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(black);
    text-align: center;
    margin: 20px 40px;
}

#buttonStartQuiz {
    margin-top: 60px;
}
.button, .answers {
    background-color: var(--red);
    color: white;
    border: var(--red) solid 2px;
    padding: 16px 28px;
    text-align: center;
}

.button:hover {
    background-color: var(--black);
    color: white;
    border: var(--black) solid 2px;
    padding: 16px 28px;
}

.buttonP {
    margin-top: 20px;
    padding: 16px 28px;
}



header {
    display: flex;
    justify-content: space-between;
}

#viewHighScore p>a, #TimerText p {
    color: var(--red);
    font-size: 18px;
}

#viewHighScore p>a:hover {
    color:var(--pink);
}

ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

li {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 8px 28%;
    background-color: var(--lightPink);
    font-size:18px;
    padding: 10px;
    align-items: center;
}

#buttonClearScores {
    margin-top: 60px;
}

form {
   display: flex; 
   justify-content: center;
   align-items: center;
   margin-top: 60px;
   font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

input {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

label {
    text-align: center;
    color:var(--red);
   

}

input {
    margin-left: 22px;
}

#submitButton {
    background-color: var(--red);
    border: none;
    color: white;
    font-family: 'Lilita One', cursive;
    padding: 10px 20px;
}

#submitButton:hover {
    background-color: var(--black);
}

#addHighScore {
    text-align: center;
}